* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin-bottom: 0 !important;
}

/* Navbar */

nav {
  position: sticky !important;
  top: 0;
  z-index: 100 !important;
  transition: all 0.5s ease;
}

.nav_clr {
  background-color: #263b5c !important;
}

.nav_links a {
  font-size: 20px;
  font-weight: 500;
}

.user_logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: azure;
  cursor: pointer !important;
}

.user_logo .name {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 22px;
  color: #263b5c;
}

.user_container{
  right: 0;
}

.user_logo .user_profile_box {
  background-color: white;
  right: 0;
  display: none;
  transition-delay: 5s;
}
.user_logo:hover .user_profile_box {
  display: block;
}

.no_div{
  margin-top: 20px;
  height: 40px;
  opacity: 0;
}
/* Homepage */

.homepage {
  background: url('../src/assets/images/bg.webp');
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden !important;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
}

.min_height {
  min-height: 100vh;
}

.homepage .title {
  font-size: 70px;
  line-height: 1;
  letter-spacing: -.05em;
  font-weight: 500;
  margin-bottom: 20px;
}

.homepage .subtitle {
  font-size: 20px;
}

.second_container {
  margin-top: 100vh;
}

/* Contact */

.contact {
  overflow-x: hidden !important;
  background: linear-gradient(45deg, #e66465, #2e0249) !important;
}

.contact_form input,
textarea {
  padding-left: 20px;
  border-radius: 5px;
}

@media only screen and (max-width: 578px) {
  .homepage .title {
    font-size: 35px;
  }

  .homepage .subtitle {
    font-size: 16px;
  }
}