* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

/* Navbar */

nav {
  position: sticky !important;
  top: 0;
  z-index: 100 !important;
  transition: all 0.5s ease;
}

.nav_clr {
  background-color: #263b5c !important;
}

.nav_links a {
  font-size: 20px;
  font-weight: 500;
}


/* Homepage */

.homepage {
  background: url('../src/assets/images/bg.webp');
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden !important;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
}

.min_height {
  min-height: 100vh;
}

.homepage .title {
  font-size: 70px;
  line-height: 1;
  letter-spacing: -.05em;
  font-weight: 500;
  margin-bottom: 20px;
}

.homepage .subtitle {
  font-size: 20px;
}

.second_container{
  margin-top: 100vh;
}

/* Contact */

.contact {
  background: url('./assets/images/contact.webp');
  min-height: 50vh;
  width: 100%;
  overflow-x: hidden !important;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
}

.contact_form{
  margin-top: 50vh;
}

/* .contact_form input::placeholder, textarea::placeholder {
  padding-left: 20px;
} */
.contact_form input, textarea {
  padding-left: 20px;
  border-radius: 5px ;
}

@media only screen and (max-width: 578px) {
  .homepage .title {
    font-size: 35px;
  }

  .homepage .subtitle {
    font-size: 16px;
  }
}